<div style="background-color: rgb(209, 213, 219);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin: 160px;">
                    <div class="card-header">
                        <h4>Dynamic user availability and event scheduling system</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="userEmail" [(ngModel)]="user.userEmail" placeholder="Email address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="userPassword" [(ngModel)]="user.userPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-1">
                                    <button type="button" (click)="loginTheUser()" class="btn btn-primary w-100" [innerHTML]="btnContent" [disabled]="isBtnDisabled"></button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-1">
                                    <a [routerLink]="['/user/signup']" class="btn btn-success w-100">SIGN UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>
